<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.michele.myfoodpocket">

    <!-- Permessi per la fotocamera e per salvare foto -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Permessi per controllare la connessione ad Internet -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Utilizzo della fotocamera -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/myfoodpocketlogo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/myfoodpocketlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFoodPocket">

        <activity
            android:name=".EditMealActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".NoInternetConnectionActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".MealDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Per la creazione di Uri e di file per le foto salvate -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.michele.myfoodpocket.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MyCharacteristicsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".AddMealActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Attività iniziale che decide cosa l'applicazione deve fare all'inizio -->
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyFoodPocket.NoActionBar" />

    </application>

</manifest>